{% extends "main_layout.twig" %}


{% block body %}
{% include "carousel.twig" %}

<div class="container page">
    <!-- Three columns of text below the carousel -->
    <div class="">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="col-lg-8">
            <h2 class="page-header">Bienvenue</h2>
                <div class="col-md-6 white">
                    <p class="text-center">
                        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                    </p>
                    <h2>Présentation</h2>
                    <p>L'association UT'Smash est une association qui a pour but de rassembler les joueurs de Smash Bros.
                        en organisant des sessions hebdomadaires ainsi que plusieurs tournois au long du semestre.</p>
                    <p class="text-right"><a class="btn btn-default" href="/utsmash/about" role="button">En savoir plus &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-md-6 white">
                    <p class="text-center">
                        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                    </p>
                    <h2>Les tournois</h2>
                    <p>Nous organisons 2 à 3 fois par semestre des tournoi. Le contenu ainsi que les dates sont communiqués en général
                        sur la mailing list ainsi que sur le groupe facebook. Ils sont en général annoncés 2 semaines à l'avance. Les inscriptions se déroulent sur le site.</p>
                    <p class="text-right"><a class="btn btn-default" href="/utsmash/tournament" role="button">Voir la liste &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="panel panel-default block-news">
                    <div class="panel-heading">Dernières actus</div>
                    <div class="panel-body">
                        <h3 class="title-no-padding">{{ news.title }}</h3>
                        <p>{{ news.content|slice(0, 80)|striptags }} [...]</p>
                        <div class="text-right">
                            <a class="btn btn-default" href="/utsmash/blog">Plus &raquo;</a>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
        </div>
    </div><!-- /.row -->
</div>

{% endblock %}