{% extends "main_layout.twig" %}


{% block body %}

    <div class="container page2">
        <div class="col-lg-10 col-lg-offset-1">

            <h2 class="page-header">Informations</h2>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading" id="summary">Présentation</div>
                    <div class="panel-body">
                        <p>L'association UT'Smash est une association qui a pour but de rassembler les joueurs de Smash Bros.
                            en organisant des sessions hebdomadaires ainsi que plusieurs tournois au long du semestre.</p>

                        <p>
                            Les sessions hebdomadaires ont lieu le mercredi soir de 19h à 22h au 2ème étage de la MDE dans la
                            salle E205.
                        </p>
                        <p>
                            L'association ne dispose que de télés, ainsi l'apport des manettes et des consoles viens des membres.
                            Ainsi les jeux principalement présent sont Super Smash Bros. for Wii U ainsi que Super Smash Bros. Melee.
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" id="ruleset">Règles</div>
                    <div class="panel-body">
                        <p >
                            <img width="100%" src="/utsmash/assets/img/ruleset-ssb4.png">
                        </p>
                        <p>
                            <img width="100%"  src="/utsmash/assets/img/ruleset-melee.png">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading" id="us">L'association</div>
                    <div class="panel-body">
                        <p>
                            L'association UT'Smash est un club rattaché au pôle vie du campus du BDE de l'UTC.
                            <hr>
                            Le bureau est composé de :
                            <ul>
                                <li>Alexandre GUTH - Président</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}